a.listing-title {
    @include pretty_hover(none, $brand-primary-light-20, ease 0.35s);
    h4 {
        @include pretty_hover(none, $brand-primary-light-20, ease 0.35s);
    }
}

// no borders, please
.tab-content,
.banner .top-header,
ul.nav.nav-tabs,
.navbar-default,
.hji-home-value-form.widget,
.quick-search-widget-wrapper {
    @include no_borders;
}

// makes the rIDX listings grid 3/4 width centered on the screen on $screen-xs
.idx-results {
    @include mobile_landscape {
        margin: auto;
        width: 75%;
    }
}

// applies the tab_styling mixin to tabs
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    @include tab_styling;
}

// overrriding the button margins on ipads
@media (max-width: $screen-lg) and (min-width: $screen-sm) {
    .rel-listing-wrap .btn-wrapper > div, 
    .idx-results .idx-result-snippet .btn-wrapper > div {
        margin: 2% 4% !important;
    }
}

// forces the save search button to have a grey background on IOS
input.save-search-btn.btn {
    background-color: #C0C0C0;
}