.header-widgets.container {
    @media (min-width: $grid-float-breakpoint) {
        width: 98%;
    }
}

.banner .top-header {
    padding: 10px 3rem;
}

.user-signup-header {
    .hji-user-signup {
        &:before {
            content: "\f084";
            margin-right: 0.75rem;
            padding: 5px;
            background-color: darken($brand-primary, 5%);
            color: $white;
            font-family: FontAwesome;
        }
        
        &:hover {
            text-decoration: none;
            color: $brand-primary;
        }
    }
}

.custom-header-menu ul li {
    float: right;
}

// styling for the menu in the top-header area
.top-header .nav-pills {
    li.current-menu-item a {
        color: $white;
        background-color: $brand-primary;
        &:focus,
        &:hover,
        &:active {
            color: $white;
            background-color: $brand-primary;
        }
    }
    li a {
        padding: 5px 10px;
        font-family: $navbar-font-family;
        font-size: 1rem;
        text-transform: uppercase;
        &:hover,
        &:focus,
        &:active {
            color: $white;
            background-color: $brand-primary;
        }
    }
}

a.navbar-brand {
    width: 75%;
    @media (min-width: 480px) {
        width: 35%;
    }
    @media (min-width: $screen-md) {
        width: 25%;
    }
    @media (min-width: $grid-float-breakpoint) {
        width: 85%;
    }
}

.navbar-default .navbar-toggle {
    border: 0;
    background-color: $brand-primary;
    
    &:hover,
    &:focus,
    &:active {
        border: 0;
        background-color: $brand-primary-light-10;
    }
}

.custom-header-text h2 {
    margin-top: 6rem;
    font-family: 'Dancing Script', cursive;
    font-size: 2.8em;
    text-align: center;
}

.header-custom-contact {
    margin-top: 2rem;
}

.big_phone {
    padding: 10px 0px 0px;
    color: $black;
    font-size: 4rem;
    line-height: 1em;
}

a.email_text {
    font-size: 13px;
    letter-spacing: 1px;
    @media (min-width: $grid-float-breakpoint) {
        font-size: 15px;
    }
}

.btn-header-cta {
    border-color: #c2c2c2;
    margin-top: 1rem;
    padding: 1rem 10%;
    background-color: #f0f0f0;
    transition: ease 0.3s;
}

.blvd-responsive-menu nav > ul > li {
    @media (min-width: $grid-float-breakpoint) {
        border-right: 1px solid $brand-primary-light-20;
    }
}

.banner .header-widgets .blvd-responsive-menu {
    @media (min-width: $grid-float-breakpoint) {
        padding: 10px 0px;
        border-radius: 4px;
        background: $brand-primary;
    }
}

.blvd-responsive-menu .dropdown-menu > li > a {
    @media(min-width: $grid-float-breakpoint) {
        &:hover,
        &:active,
        &:focus {
            color: $white !important;
            background-color: $brand-primary;
            text-decoration: none;
        }
    }
}

.blvd-responsive-menu .nav li ul li a,
.blvd-responsive-menu .nav li a {
    @media (max-width: $grid-float-breakpoint) {
        color: $brand-primary !important;
        &:hover,
        &:active,
        &:focus {
            color: $brand-primary-dark-20 !important;
        }
    }
}
