body:not(.home) #content {
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: $black 1px 2px 20px;
    background-color: $white;
}

h2.partner-name {
    margin-bottom: 0;
    color: $brand-primary;
}

.partner-profession {
    font-family: 'Helvetica Nueue', sans-serif;
    margin: 0.5rem auto;
    font-wieght: bold;
    color: $brand-third;
}

p.parter-company {
    color: $black;
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0.5rem auto 0 auto;
}

.seller-video-wrapper {
    @media(min-width: $screen-md) {
        width: 75%;
        margin: auto;
    }
}
